<div class="svg_all">
<svg xmlns="http://www.w3.org/2000/svg">


	<symbol id="chat"> <!--477.6 477.6 --> 
		<g><g><path d="M407.583,70c-45.1-45.1-105-70-168.8-70s-123.7,24.9-168.8,70c-87,87-93.3,226-15.8,320.2c-10.7,21.9-23.3,36.5-37.6,43.5c-8.7,4.3-13.6,13.7-12.2,23.3c1.5,9.7,8.9,17.2,18.6,18.7c5.3,0.8,11,1.3,16.9,1.3l0,0c29.3,0,60.1-10.1,85.8-27.8c34.6,18.6,73.5,28.4,113.1,28.4c63.8,0,123.7-24.8,168.8-69.9s69.9-105.1,69.9-168.8S452.683,115.1,407.583,70z M388.483,388.5c-40,40-93.2,62-149.7,62c-37.8,0-74.9-10.1-107.2-29.1c-2.1-1.2-4.5-1.9-6.8-1.9c-2.9,0-5.9,1-8.3,2.8c-30.6,23.7-61.4,27.2-74.9,27.5c16.1-12,29.6-30.6,40.9-56.5c2.1-4.8,1.2-10.4-2.3-14.4c-74-83.6-70.1-211,8.9-290c40-40,93.2-62,149.7-62s109.7,22,149.7,62C471.083,171.6,471.083,306,388.483,388.5z"/><path d="M338.783,160h-200c-7.5,0-13.5,6-13.5,13.5s6,13.5,13.5,13.5h200c7.5,0,13.5-6,13.5-13.5S346.183,160,338.783,160z"/><path d="M338.783,225.3h-200c-7.5,0-13.5,6-13.5,13.5s6,13.5,13.5,13.5h200c7.5,0,13.5-6,13.5-13.5S346.183,225.3,338.783,225.3z"/><path d="M338.783,290.6h-200c-7.5,0-13.5,6-13.5,13.5s6,13.5,13.5,13.5h200c7.5,0,13.5-6,13.5-13.5S346.183,290.6,338.783,290.6z"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
	</symbol>


	<symbol id="checked"> <!--512 512 --> 
		<g><g><path d="M449.716,239.842c-0.543-7.535-7.082-13.191-14.628-12.661c-7.536,0.543-13.204,7.092-12.662,14.628    c0.337,4.655,0.506,9.431,0.506,14.191c0,109.061-88.726,197.787-197.786,197.787C116.086,453.787,27.36,365.06,27.36,256    S116.086,58.214,225.147,58.214c43.191,0,84.21,13.668,118.62,39.525c6.041,4.538,14.615,3.321,19.154-2.718    c4.54-6.04,3.323-14.616-2.717-19.154c-39.189-29.447-85.891-45.012-135.058-45.012C101.001,30.854,0,131.855,0,256    s101.001,225.145,225.147,225.145S450.292,380.146,450.292,256C450.292,250.586,450.097,245.15,449.716,239.842z" /></g></g><g><g><path d="M496.395,61.77c-20.808-20.807-54.666-20.807-75.474,0l-197.11,197.108l-69.874-69.875    c-20.808-20.807-54.666-20.807-75.474,0c-20.808,20.808-20.808,54.666,0,75.474l120.341,120.341    c6.895,6.895,15.951,10.342,25.007,10.342c9.057,0,18.113-3.447,25.008-10.342l247.576-247.576    C517.201,116.435,517.201,82.579,496.395,61.77z M477.049,117.897L229.472,365.475c-3.12,3.12-8.2,3.12-11.32,0L97.811,245.133    c-10.141-10.141-10.141-26.64,0-36.781c5.07-5.072,11.729-7.606,18.39-7.606s13.321,2.535,18.39,7.606l71.882,71.882    c4.632,4.631,10.791,7.181,17.339,7.181c6.551,0,12.71-2.551,17.341-7.182L440.268,81.116c10.138-10.141,26.64-10.141,36.781,0    C487.189,91.257,487.189,107.756,477.049,117.897z" fill="#D80027"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
	</symbol>


	<symbol id="exit"> <!--55 55 --> 
		<g><path d="M53.924,24.382c0.101-0.244,0.101-0.519,0-0.764c-0.051-0.123-0.125-0.234-0.217-0.327L41.708,11.293c-0.391-0.391-1.023-0.391-1.414,0s-0.391,1.023,0,1.414L50.587,23H29.001c-0.553,0-1,0.447-1,1s0.447,1,1,1h21.586L40.294,35.293c-0.391,0.391-0.391,1.023,0,1.414C40.489,36.902,40.745,37,41.001,37s0.512-0.098,0.707-0.293l11.999-11.999C53.799,24.616,53.873,24.505,53.924,24.382z"/><path d="M36.001,29c-0.553,0-1,0.447-1,1v16h-10V8c0-0.436-0.282-0.821-0.697-0.953L8.442,2h26.559v16c0,0.553,0.447,1,1,1s1-0.447,1-1V1c0-0.553-0.447-1-1-1h-34c-0.032,0-0.06,0.015-0.091,0.018C1.854,0.023,1.805,0.036,1.752,0.05C1.658,0.075,1.574,0.109,1.493,0.158C1.467,0.174,1.436,0.174,1.411,0.192C1.38,0.215,1.356,0.244,1.328,0.269c-0.017,0.016-0.035,0.03-0.051,0.047C1.201,0.398,1.139,0.489,1.093,0.589c-0.009,0.02-0.014,0.04-0.022,0.06C1.029,0.761,1.001,0.878,1.001,1v46c0,0.125,0.029,0.243,0.072,0.355c0.014,0.037,0.035,0.068,0.053,0.103c0.037,0.071,0.079,0.136,0.132,0.196c0.029,0.032,0.058,0.061,0.09,0.09c0.058,0.051,0.123,0.093,0.193,0.13c0.037,0.02,0.071,0.041,0.111,0.056c0.017,0.006,0.03,0.018,0.047,0.024l22,7C23.797,54.984,23.899,55,24.001,55c0.21,0,0.417-0.066,0.59-0.192c0.258-0.188,0.41-0.488,0.41-0.808v-6h11c0.553,0,1-0.447,1-1V30C37.001,29.447,36.553,29,36.001,29z M23.001,52.633l-20-6.364V2.367l20,6.364V52.633z"/></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
	</symbol>


	<symbol id="heart"> <!--512 512 --> 
		<g><g><path d="M472.08,81.12c-26.96-27.572-63.022-42.757-101.546-42.757c-37.93,0-73.593,14.773-100.421,41.602L256.267,93.82l-13.859-13.859c-26.826-26.826-62.482-41.599-100.401-41.599c-37.931,0-73.593,14.773-100.417,41.599C14.77,106.78,0,142.439,0,180.37s14.77,73.59,41.59,100.409L219.072,458.26c10.253,10.251,23.717,15.377,37.184,15.377c13.464-0.001,26.931-5.126,37.181-15.376l176.339-176.323C525.161,226.551,526.195,136.466,472.08,81.12z M451.183,263.346L274.845,439.671c-10.251,10.25-26.931,10.25-37.181-0.001L60.181,262.186c-21.854-21.853-33.889-50.909-33.889-81.817s12.035-59.964,33.889-81.818c21.858-21.859,50.918-33.897,81.826-33.897c30.896,0,59.95,12.038,81.809,33.897l13.866,13.866l-21.233,21.249c-5.132,5.136-5.128,13.459,0.007,18.591c2.567,2.565,5.929,3.847,9.292,3.847c3.367,0,6.732-1.286,9.299-3.854l53.658-53.7c21.859-21.859,50.918-33.897,81.826-33.897c31.389,0,60.775,12.376,82.747,34.847C497.374,144.597,496.433,218.097,451.183,263.346z"/></g></g><g><g><path d="M466.29,174.403c-1.445-23.38-11.35-45.366-27.891-61.909c-11.712-11.712-26.245-20.222-42.026-24.615c-6.995-1.946-14.242,2.147-16.188,9.142c-1.946,6.994,2.147,14.242,9.142,16.188c11.427,3.179,21.967,9.36,30.482,17.875c12.004,12.004,19.192,27.963,20.241,44.938c0.431,6.971,6.218,12.336,13.109,12.336c0.272,0,0.547-0.008,0.823-0.026C461.228,187.887,466.738,181.65,466.29,174.403z"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
	</symbol>


	<symbol id="home"> <!--512 512 --> 
		<g><g><path d="M506.555,208.064L263.859,30.367c-4.68-3.426-11.038-3.426-15.716,0L5.445,208.064c-5.928,4.341-7.216,12.665-2.875,18.593s12.666,7.214,18.593,2.875L256,57.588l234.837,171.943c2.368,1.735,5.12,2.57,7.848,2.57c4.096,0,8.138-1.885,10.744-5.445C513.771,220.729,512.483,212.405,506.555,208.064z"/></g></g><g><g><path d="M442.246,232.543c-7.346,0-13.303,5.956-13.303,13.303v211.749H322.521V342.009c0-36.68-29.842-66.52-66.52-66.52s-66.52,29.842-66.52,66.52v115.587H83.058V245.847c0-7.347-5.957-13.303-13.303-13.303s-13.303,5.956-13.303,13.303v225.053c0,7.347,5.957,13.303,13.303,13.303h133.029c6.996,0,12.721-5.405,13.251-12.267c0.032-0.311,0.052-0.651,0.052-1.036v-128.89c0-22.009,17.905-39.914,39.914-39.914s39.914,17.906,39.914,39.914v128.89c0,0.383,0.02,0.717,0.052,1.024c0.524,6.867,6.251,12.279,13.251,12.279h133.029c7.347,0,13.303-5.956,13.303-13.303V245.847C455.549,238.499,449.593,232.543,442.246,232.543z"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
	</symbol>


	<symbol id="information"> <!--512.001 512.001 --> 
		<g><g><path d="M313.365,107.393c-9.915-11.15-25.377-17.545-42.422-17.545c-30.441,0-57.651,20.784-60.659,46.36c-1.349,11.698,2.281,23.047,10.221,31.955c9.756,10.946,25.08,17.223,42.048,17.223c31.23,0,58.04-20.365,61.036-46.333C324.939,127.569,321.309,116.326,313.365,107.393z M299.176,136.207c-1.537,13.335-18.31,24.6-36.625,24.6c-9.818,0-18.678-3.363-23.699-8.998c-3.307-3.71-4.703-8.011-4.156-12.758c1.543-13.118,18.48-24.626,36.246-24.626c9.886,0,18.879,3.477,24.058,9.299C297.274,126.281,299.846,130.518,299.176,136.207z"/></g></g><g><g><path d="M301.752,369.483c-3.072-2.061-10.262-6.883-4.458-40.363c0.149-0.73,0.732-3.429,1.637-7.623c2.061-9.557,5.897-27.344,10.066-47.179c0.01-0.044,0.02-0.09,0.028-0.134c4.256-21.437,0.887-40.19-9.737-54.233c-9.591-12.678-24.776-20.45-42.754-21.882c-26.586-2.127-54.398,13.739-62.918,29.357c-3.939,6.92-2.053,12.54-0.568,15.289c1.84,3.4,4.524,5.306,6.485,6.697c3.021,2.144,10.093,7.163,3.377,40.573c-0.628,3.056-9.999,50.701-11.238,57.465c-0.009,0.045-0.016,0.091-0.025,0.136c-3.692,21.54-0.041,40.365,11.152,53.959c18.024,21.89,45.458,20.839,46.532,20.839c25.569-0.001,51.128-15.882,58.91-31.079c3.757-7.021,1.727-12.589,0.167-15.298C306.483,372.657,303.748,370.822,301.752,369.483z M284.926,269.336c-4.149,19.742-7.969,37.457-10.023,46.979c-1.397,6.474-1.679,7.789-1.779,8.328c-0.007,0.043-0.016,0.087-0.023,0.132c-6.24,35.864,0.075,51.56,9.013,60.341c-2.442,2.179-5.787,4.532-9.928,6.668c-8.144,4.202-17.165,6.375-24.762,5.974c-11.067-0.591-19.858-4.584-25.418-11.549c-6.475-8.108-8.6-20.003-6.146-34.399c1.336-7.279,10.72-54.936,11.114-56.832c0.007-0.042,0.016-0.082,0.025-0.124c7.178-35.688,1.274-51.544-7.43-60.556c2.498-2.114,5.905-4.379,10.1-6.405c8.251-3.985,17.332-5.924,24.911-5.322c11.048,0.88,19.729,5.102,25.106,12.21C285.947,243.056,287.76,255.005,284.926,269.336z"/></g></g><g><g><path d="M459.614,394.961c33.831-40.598,52.388-90.748,52.388-141.964c0-62.775-26.778-121.727-75.397-165.998c-48.299-43.977-112.438-68.197-180.603-68.197S123.696,43.022,75.397,87C26.776,131.269,0,190.223,0,252.998s26.776,121.729,75.396,165.998c48.299,43.978,112.438,68.197,180.603,68.197c42.625,0,84.634-9.73,121.869-28.187l89.22,33.412c1.402,0.525,2.86,0.78,4.307,0.78c3.039,0,6.028-1.127,8.339-3.259c3.409-3.147,4.755-7.946,3.48-12.407L459.614,394.961z M381.425,434.094c-3.269-1.225-6.904-1-10.001,0.616c-34.94,18.256-74.853,27.906-115.424,27.906c-127.606,0-231.422-94.033-231.422-209.617S128.393,43.379,255.999,43.379s231.423,94.034,231.423,209.617c0,48.095-17.515,93.34-50.652,130.846c-2.776,3.141-3.759,7.483-2.606,11.513l18.72,65.498L381.425,434.094z"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
	</symbol>


	<symbol id="musical-note"> <!--477.216 477.216 --> 
		<g><path d="M453.858,105.116v-91.6c0-4.3-2.1-8.4-5.5-10.9c-3.5-2.5-8-3.3-12.1-2l-272.9,86.7c-5.6,1.8-9.4,7-9.4,12.9v91.7v0.1v175.3c-14.3-9.9-32.6-15.3-51.8-15.3c-20.3,0-39.6,6.1-54.3,17.1c-15.8,11.9-24.5,28-24.5,45.5s8.7,33.6,24.5,45.5c14.7,11,33.9,17.1,54.3,17.1s39.6-6.1,54.3-17.1c15.8-11.9,24.5-28,24.5-45.5v-212.8l245.9-78.2v156.6c-14.3-9.9-32.6-15.3-51.8-15.3c-20.3,0-39.6,6.1-54.3,17.1c-15.8,11.9-24.5,28-24.5,45.5s8.7,33.6,24.5,45.5c14.7,11,33.9,17.1,54.3,17.1s39.6-6.1,54.3-17.1c15.8-11.9,24.5-28,24.5-45.5v-222.3C453.858,105.116,453.858,105.116,453.858,105.116z M102.158,450.216c-28.1,0-51.8-16.3-51.8-35.6c0-19.3,23.7-35.6,51.8-35.6s51.8,16.3,51.8,35.6C153.958,434.016,130.258,450.216,102.158,450.216z M180.958,173.416v-63.4l245.9-78.1v63.4L180.958,173.416z M375.158,363.116c-28.1,0-51.8-16.3-51.8-35.6c0-19.3,23.7-35.6,51.8-35.6s51.8,16.3,51.8,35.6C426.858,346.816,403.158,363.116,375.158,363.116z"/></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
	</symbol>


	<symbol id="photo-camera"> <!--487.7 487.7 --> 
		<g><g><path d="M480.5,151.65c-2-1.1-48.8-25.4-126.8-40.1l-3-12.8c-7.8-33.5-37.3-57-71.8-57h-70.1c-34.4,0-63.9,23.4-71.8,57l-3,12.8c-78,14.6-124.8,39-126.8,40.1c-4.4,2.3-7.2,6.9-7.2,11.9v159c0,63.7,51.8,115.6,115.6,115.6c7.5,0,13.5-6,13.5-13.5s-6-13.5-13.5-13.5c-48.8,0-88.6-39.7-88.6-88.6v-150.5c16.2-7.4,59-24.9,120.5-35.5c5.3-0.9,9.6-5,10.8-10.2l5-21.5c5-21.2,23.6-36.1,45.5-36.1h70.1c21.8,0,40.5,14.8,45.5,36.1l5,21.5c1.2,5.3,5.5,9.3,10.8,10.2c61.3,10.6,104.2,28.1,120.5,35.5v150.5c0,48.8-39.7,88.6-88.6,88.6c-7.5,0-13.5,6-13.5,13.5s6,13.5,13.5,13.5c63.7,0,115.6-51.8,115.6-115.6v-159C487.7,158.55,485,153.95,480.5,151.65z"/><path d="M44.2,124.05c1.4,0,2.8-0.2,4.2-0.7c14.2-4.7,29.1-8.9,44.3-12.5c7.3-1.7,11.7-9,10-16.2c-1.7-7.3-9-11.7-16.2-10c-15.9,3.8-31.6,8.2-46.6,13.1c-7.1,2.3-10.9,10-8.6,17C33.3,120.45,38.6,124.05,44.2,124.05z"/><path d="M243.9,135.05c-85.7,0-155.4,69.7-155.4,155.4s69.7,155.5,155.4,155.5s155.4-69.7,155.4-155.4S329.6,135.05,243.9,135.05z M243.9,418.95c-70.8,0-128.4-57.6-128.4-128.4s57.6-128.5,128.4-128.5s128.4,57.6,128.4,128.4S314.7,418.95,243.9,418.95z"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
	</symbol>


	<symbol id="play-button"> <!--41.999 41.999 --> 
		<path d="M36.068,20.176l-29-20C6.761-0.035,6.363-0.057,6.035,0.114C5.706,0.287,5.5,0.627,5.5,0.999v40c0,0.372,0.206,0.713,0.535,0.886c0.146,0.076,0.306,0.114,0.465,0.114c0.199,0,0.397-0.06,0.568-0.177l29-20c0.271-0.187,0.432-0.494,0.432-0.823S36.338,20.363,36.068,20.176z M7.5,39.095V2.904l26.239,18.096L7.5,39.095z"/><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
	</symbol>


	<symbol id="rewind"> <!--57 57 --> 
		<path d="M56.461,8.625c-0.333-0.172-0.73-0.145-1.036,0.069L29,27.277V9.5c0-0.373-0.208-0.716-0.539-0.888c-0.333-0.172-0.731-0.146-1.036,0.07l-27,19C0.158,27.869,0,28.175,0,28.5s0.158,0.631,0.425,0.817l27,19C27.597,48.439,27.798,48.5,28,48.5c0.157,0,0.315-0.037,0.461-0.112C28.792,48.216,29,47.873,29,47.5V29.723l26.425,18.583c0.172,0.12,0.373,0.182,0.575,0.182c0.157,0,0.315-0.037,0.461-0.112C56.792,48.203,57,47.86,57,47.487V9.513C57,9.14,56.792,8.797,56.461,8.625z M27,45.573L2.737,28.5L27,11.427V45.573z M55,45.562L30.738,28.5L55,11.439V45.562z"/><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
	</symbol>


	<symbol id="settings"> <!--478.703 478.703 --> 
		<g><g><path d="M454.2,189.101l-33.6-5.7c-3.5-11.3-8-22.2-13.5-32.6l19.8-27.7c8.4-11.8,7.1-27.9-3.2-38.1l-29.8-29.8c-5.6-5.6-13-8.7-20.9-8.7c-6.2,0-12.1,1.9-17.1,5.5l-27.8,19.8c-10.8-5.7-22.1-10.4-33.8-13.9l-5.6-33.2c-2.4-14.3-14.7-24.7-29.2-24.7h-42.1c-14.5,0-26.8,10.4-29.2,24.7l-5.8,34c-11.2,3.5-22.1,8.1-32.5,13.7l-27.5-19.8c-5-3.6-11-5.5-17.2-5.5c-7.9,0-15.4,3.1-20.9,8.7l-29.9,29.8c-10.2,10.2-11.6,26.3-3.2,38.1l20,28.1c-5.5,10.5-9.9,21.4-13.3,32.7l-33.2,5.6c-14.3,2.4-24.7,14.7-24.7,29.2v42.1c0,14.5,10.4,26.8,24.7,29.2l34,5.8c3.5,11.2,8.1,22.1,13.7,32.5l-19.7,27.4c-8.4,11.8-7.1,27.9,3.2,38.1l29.8,29.8c5.6,5.6,13,8.7,20.9,8.7c6.2,0,12.1-1.9,17.1-5.5l28.1-20c10.1,5.3,20.7,9.6,31.6,13l5.6,33.6c2.4,14.3,14.7,24.7,29.2,24.7h42.2c14.5,0,26.8-10.4,29.2-24.7l5.7-33.6c11.3-3.5,22.2-8,32.6-13.5l27.7,19.8c5,3.6,11,5.5,17.2,5.5l0,0c7.9,0,15.3-3.1,20.9-8.7l29.8-29.8c10.2-10.2,11.6-26.3,3.2-38.1l-19.8-27.8c5.5-10.5,10.1-21.4,13.5-32.6l33.6-5.6c14.3-2.4,24.7-14.7,24.7-29.2v-42.1C478.9,203.801,468.5,191.501,454.2,189.101z M451.9,260.401c0,1.3-0.9,2.4-2.2,2.6l-42,7c-5.3,0.9-9.5,4.8-10.8,9.9c-3.8,14.7-9.6,28.8-17.4,41.9c-2.7,4.6-2.5,10.3,0.6,14.7l24.7,34.8c0.7,1,0.6,2.5-0.3,3.4l-29.8,29.8c-0.7,0.7-1.4,0.8-1.9,0.8c-0.6,0-1.1-0.2-1.5-0.5l-34.7-24.7c-4.3-3.1-10.1-3.3-14.7-0.6c-13.1,7.8-27.2,13.6-41.9,17.4c-5.2,1.3-9.1,5.6-9.9,10.8l-7.1,42c-0.2,1.3-1.3,2.2-2.6,2.2h-42.1c-1.3,0-2.4-0.9-2.6-2.2l-7-42c-0.9-5.3-4.8-9.5-9.9-10.8c-14.3-3.7-28.1-9.4-41-16.8c-2.1-1.2-4.5-1.8-6.8-1.8c-2.7,0-5.5,0.8-7.8,2.5l-35,24.9c-0.5,0.3-1,0.5-1.5,0.5c-0.4,0-1.2-0.1-1.9-0.8l-29.8-29.8c-0.9-0.9-1-2.3-0.3-3.4l24.6-34.5c3.1-4.4,3.3-10.2,0.6-14.8c-7.8-13-13.8-27.1-17.6-41.8c-1.4-5.1-5.6-9-10.8-9.9l-42.3-7.2c-1.3-0.2-2.2-1.3-2.2-2.6v-42.1c0-1.3,0.9-2.4,2.2-2.6l41.7-7c5.3-0.9,9.6-4.8,10.9-10c3.7-14.7,9.4-28.9,17.1-42c2.7-4.6,2.4-10.3-0.7-14.6l-24.9-35c-0.7-1-0.6-2.5,0.3-3.4l29.8-29.8c0.7-0.7,1.4-0.8,1.9-0.8c0.6,0,1.1,0.2,1.5,0.5l34.5,24.6c4.4,3.1,10.2,3.3,14.8,0.6c13-7.8,27.1-13.8,41.8-17.6c5.1-1.4,9-5.6,9.9-10.8l7.2-42.3c0.2-1.3,1.3-2.2,2.6-2.2h42.1c1.3,0,2.4,0.9,2.6,2.2l7,41.7c0.9,5.3,4.8,9.6,10,10.9c15.1,3.8,29.5,9.7,42.9,17.6c4.6,2.7,10.3,2.5,14.7-0.6l34.5-24.8c0.5-0.3,1-0.5,1.5-0.5c0.4,0,1.2,0.1,1.9,0.8l29.8,29.8c0.9,0.9,1,2.3,0.3,3.4l-24.7,34.7c-3.1,4.3-3.3,10.1-0.6,14.7c7.8,13.1,13.6,27.2,17.4,41.9c1.3,5.2,5.6,9.1,10.8,9.9l42,7.1c1.3,0.2,2.2,1.3,2.2,2.6v42.1H451.9z"/><path d="M239.4,136.001c-57,0-103.3,46.3-103.3,103.3s46.3,103.3,103.3,103.3s103.3-46.3,103.3-103.3S296.4,136.001,239.4,136.001z M239.4,315.601c-42.1,0-76.3-34.2-76.3-76.3s34.2-76.3,76.3-76.3s76.3,34.2,76.3,76.3S281.5,315.601,239.4,315.601z"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
	</symbol>

</svg>
</div>