body { font-family: arial; font-size: 12px; }.svg_all { display: none; }.grid__icon {width: 60px; }
    
   .grid__item {
    
        padding: 8px;
        border: 1px solid #e2e2e2;
        
        
        display:inline-block;
        
        margin: 30px;
        
        position: relative;
    }
    
    .grid__item:hover {
        background-color:#f5f5f5;
    }
    
    .grid__item textarea{
        border:1px solid #d6d6d6;
        height:50px;
        width:450px;
        
        padding:8px;
        font-size: 11px;
    }
    
    
    .grid__item .grid__html textarea{
        height:40px;
        width:450px;
    }    
    
    .grid__item h2 {
        font-size: 15px;
        color: #272727;
    }
    
    .grid__popup {
    
        display: none;
        position: absolute;
        
        
        left:0px;
        
        border: 1px solid #e2e2e2;
        
        background: #fff;
        
        padding:8px;
    }
    
    .grid__popup .grid__icon {
        display: none;
    }
    
    .grid__item:hover .grid__popup {
        
        display:block;
        z-index:20;
    
    }